<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap JavaScript (optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/header.css">
    <title>Blog</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container d-flex justify-content-center"> <!-- Utilizing flexbox utilities -->
            <a class="navbar-brand" href="#">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCufKGf5QPlEgH42od3oHkrhuCLAAbkEqJyUMkgdqRyg&s"
                    height="100"
                    alt="MDB Logo"
                    loading="lazy" 
                />
            </a>
        </div>
    </nav>
</body>
</html>
